body {
font-size: 62.5%;
width: 100%;
height: 100%;
background-color: #fff;
}
section#wrap {
width: 102.4em;
min-height: 100%;
margin: 0 auto;
background-color: #e7ead1;
border-bottom: 1px solid #7fc020;

}
#wrap:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;

}
header {
width: 100%;
height: 11.2em;
background-color: #353a33;
position: relative;
-moz-box-shadow: inset 0 -3px 5px rgba(0,0,0,0.5); /* Для Firefox */
-webkit-box-shadow: inset 0 -3px 5px rgba(0,0,0,0.5); /* Для Safari и Chrome */
box-shadow: inset 0 -3px 5px rgba(0,0,0,0.5); /* Параметры тени */
}

header a#logo {
display: block;
font: 3.1em "Century Gothic", monospace;
text-decoration: none;
color: #fff;
width: 42%;
height: 2em;
margin: 0 0 0 1.5em;
padding: .75em 0 0 2em;
background: url(../images/leaf.gif) no-repeat 0 50%;
}
#site-slogan {
display: block;
width: 42%;
font: .5806em "Century Gothic", monospace;

color: #fff;
font-style: italic;
padding-left: 8.2em;
margin-top: -.4em;
}

#help-line {
font: 1.2em Arial, sans-serif;
font-weight: 600;
color: #fff;
position: absolute;
top: 4em;
right: 3.33em;
}

nav[role="navigation"] {
position: relative;
width: 100%;
height: 5em;
background-color: #80be24;
-moz-box-shadow: 0 3px 5px rgba(0,0,0,0.5); /* Для Firefox */
-webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.5); /* Для Safari и Chrome */
box-shadow: 0 3px 5px rgba(0,0,0,0.5); /* Параметры тени */
background: #88ac50; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg4YWM1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3Y2MxMTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #88ac50 0%, #7cc115 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88ac50), color-stop(100%,#7cc115)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #88ac50 0%,#7cc115 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #88ac50 0%,#7cc115 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #88ac50 0%,#7cc115 100%); /* IE10+ */
background: linear-gradient(to bottom,  #88ac50 0%,#7cc115 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88ac50', endColorstr='#7cc115',GradientType=0 ); /* IE6-8 */
}
nav[role="navigation"] a {
display: inline-block;
font: 1.8em Arial, sans-serif;
color: #fff;
text-decoration: none;
padding: .7em 2.25em .7em 2em;

}
.three-angle {
position: absolute;
top: 77%;
left: 6%;
color: #A4D667;
font: 1em Arial, sans-serif;
}
#b-quote {
position: relative;
background-color: #353b34;
height: 28.5em;
width: 100%;
}
#b-quote img{
position: absolute;
top: 27%;
left: 73%;
}
#b-quote blockquote {
font: 3.8em "Century Gothic", monospace;
color: #fff;
width: 50%;
padding: 1em 0 0 1.36842em;
}
span.quotes {
margin-left:-.585em;
margin-right: .1em;
}
.left-sbar{
background-color: #e7ead1;
width: 28.27%;
float: right;
margin: 18.7em 0 4em 0;
padding-left: 1.4em;
border-left: 1px solid #d9ddc4;
}
.left-sbar #aside-header {
font: 1.8em Arial, sans-serif;
color: #fff;
border: 1px solid #9b9f92;
}
.left-sbar article {
background-color: #fff;
width: 27em;
border-radius: 17px;

-moz-box-shadow: 3px 2px 10px rgba(0,0,0,0.2); /* Для Firefox */
-webkit-box-shadow: 3px 2px 10px rgba(0,0,0,0.2); /* Для Safari и Chrome */
box-shadow: 3px 2px 10px rgba(0,0,0,0.2); /* Параметры тени */
}
.left-sbar article p {
font: 1.2em Arial, sans-serif;
line-height: 2.6em;
color: #353a33;
text-decoration: underline;
padding: 1.5em 1em 1em; 
}
#aside-header {
font: 1.5em Arial, sans-serif;
color: #fff;
border: 1px solid #dcdfc9;
padding: .6em 0em .6em .6em;
border-top-left-radius: 17px;
border-top-right-radius: 17px;
background: #88ac50; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg4YWM1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3Y2MxMTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #88ac50 0%, #7cc115 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88ac50), color-stop(100%,#7cc115)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #88ac50 0%,#7cc115 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #88ac50 0%,#7cc115 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #88ac50 0%,#7cc115 100%); /* IE10+ */
background: linear-gradient(to bottom,  #88ac50 0%,#7cc115 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88ac50', endColorstr='#7cc115',GradientType=0 ); /* IE6-8 */
}
.main-content {
width: 68%;
margin: 1em 0em 1em 1.8em; 

}
.main-content img {
float: left;
border: 1px solid #e2e5ce;
border-radius: 17px;
-moz-box-shadow: 3px 2px 10px rgba(0,0,0,0.2); /* Для Firefox */
-webkit-box-shadow: 3px 2px 10px rgba(0,0,0,0.2); /* Для Safari и Chrome */
box-shadow: 3px 2px 10px rgba(0,0,0,0.2); /* Параметры тени */
}
.main-content h3 {
font: 2.3em Arial, sans-serif;
color: #353a33;
padding-top: .4em;
margin: 1.3em 1em 0em 9.96em;
}
.main-content .first-par {
font: 1.2em Arial, sans-serif;
color: #4e7d05;
margin: 1em 1em 0em 19.1em;
}
.main-content p.first-par{
margin-bottom: 5em;
}
h4.second-par,
h4.third-par {
margin: 1em 0;
}
h4.second-par {
font: 1.4em Arial, sans-serif; 
font-weight: 600;
color: #353a33;
}

p.second-par {
font: 1.2em Arial, sans-serif;
color: #353a33;
}
h4.third-par {
font: 1.4em Arial, sans-serif; 
font-weight: 600;
color: #a5bc79;
}
p.third-par {
font: 1.2em Arial, sans-serif;
color: #989c89;
margin-bottom: 2em;
}
.read-more {
font: 1.2em "Century Gothic", monospace;
font-weight: 600;
color: #fff;
float: left;
padding: .35em 1.7em .35em;
border: 1px solid #959a87;
border-radius: 17px;
text-decoration: none;
background: #88ac50; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg4YWM1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3Y2MxMTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #88ac50 0%, #7cc115 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88ac50), color-stop(100%,#7cc115)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #88ac50 0%,#7cc115 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #88ac50 0%,#7cc115 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #88ac50 0%,#7cc115 100%); /* IE10+ */
background: linear-gradient(to bottom,  #88ac50 0%,#7cc115 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88ac50', endColorstr='#7cc115',GradientType=0 ); /* IE6-8 */
}
.post-info {
font: 1em Arial, sans-serif;
color: #353a33;
font-weight: 600;
padding-top: 1em;
margin-left: 14em;

}
footer {
background-color: #353a33;
border-top: 1px solid #d6dbbf;
width: 102.4em;
height: 5em;
margin: 0 auto;
}
#copy {
font: 1.2em Arial, sans-serif;
color: #fff;
text-align: center;
padding: 1.5em 0;

}

