/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*<--end reset-->*/
html {
	height: 100%;
	}
img {
	border: none;
	}
body {
	font: 12px "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	height: 100%;
	background-color: #a5b3ab;
	background-image: url(../images/bg.png);
	position: relative;
	}
	div.bg-image {
	width: 1300px;
	margin: 0 auto;
	background-image: url(../images/car_bg.png);
	background-repeat: no-repeat;
	background-position: -60px -60px;
	}
	
	div#wrapper {
	position: relative;
	width: 980px;
	margin: 0 auto;
	}
	
	div.clear {
	clear: both;
	}
		div#wrapper div#header {
		position: relative;
		z-index: 1;
		}
			div#wrapper div#header img {
			margin-top: -40px;
			} 
			div#wrapper div#header span {
			font: 16px "Myriad Pro","Gill Sans","Gill Sans MT",Calibri,sans-serif;
			color: #f7f7f7;
			position: absolute;
			top: 3%;
			left: 30%;
			z-index: 3;
			}
		
		div#content {
		position: relative;
		z-index: 1;
		}
			div#content img#middle {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			}
			div#content div#main-menu ul {
			z-index: 5;
			}
			div#content div#main-menu ul li, div#products ul li {
			list-style-type: none;
			display: inline;
			float: left;
			padding-right: 5px;
			}
				div#content div#main-menu ul li a {
				position: relative;
				display: block;
				text-decoration: none;
				color: #fffff9;
				font: 16px "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
				text-transform: uppercase;
				padding: 10px 17px 8px 18px;
				margin-bottom: 50px;
				z-index: 5;
				height: 18px;
				}
					div#content div#main-menu ul li a:hover{
					height: 18px;
					background-color: #616162;
					border-radius: 10px;
					}
				div#content div#main-menu ul li a#shopping_cart {
				position: absolute;
				right:0;
				top:0;
				padding: 10px 65px 8px 86px;
				z-index: 5;
				background-color: #e3251b;
				border-radius: 10px;
				}
		div#products {
		background-color: #fff;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		float: left;
		width: 940px;
		padding: 30px 20px 17px 20px;
		margin-top: -62px;
		position: relative;
		}
			div#products div#shorts {
			width: 735px;
			position: relative;
			}
			div#products div#shorts div.product_img a {
			text-decoration: none;
			}
			div#products h2 a{
			display: block;
			font: bold 35px "Myriad Pro","Gill Sans","Gill Sans MT",Calibri,sans-serif;
			color: #e4261c;
			text-transform: uppercase;
			margin-bottom: 12px;
			text-decoration: none;
			}		
				div#products div#shorts  a.all_products {
				display: block;
				float:right;
				font: bold 12px Arial, Helvetica, sans-serif;
				color: #383838;
				text-transform: uppercase;
				padding: 35px 35px 0px 0px;
				}
					div#products div#shorts  div#pages ul {
					padding:0px 35px 15px 0px;
					float: right;
					display: block;
					z-index: 5;
					}
						div#products div#shorts  div#pages ul li {
						padding: 15px 4px 0px 0px;
						}
						div#products div#shorts  div#pages ul li a {
						font: 11px Arial, Helvetica, sans-serif;
						line-height: 26px;
						text-decoration: none;
						color: #616a64;
						padding: 4px 10px;
						background-image: url(../images/page.jpg);
						background-color: #f7f7f7;
						border: 1px solid #ededed;
						}
						div#products div#shorts  div#pages ul li a:hover, div#products div#shorts #pages li.active_page a {
						border: 1px solid #858f89;
						}			
				div#products .product_img img {
				background-color: #fff;
				border: 1px solid #ededed;
				margin-right: 15px;
				width: 157px;
				height: 196px;
				margin-bottom: -2px;
				}
				div#products div.applications {
				width: 220px;
				height: 521px;
				padding: 30px 20px 17px 0px;
				position: absolute;
				top: 0;
				right: 0;
				}			
					div#products div.applications img{
					width: 218px;
					height: 251px;
					margin: 0px 15px 15px 0px;
					border: 1px solid #ededed;
					}				
				div.product_img span.price{
				display: block;
				width: 159px;
				height: 30px;
				text-align: center; 
				background-color: #e6271d;
				font: bold 18px Tahoma, Geneva, Kalimati,sans-serif;
				color: #fff;
				padding-top: 5px;
				}
				div.product_img span.product_info {
				display: block;
				width: 159px;
				font:  bold 12px Arial, Helvetica, sans-serif;
				color: #383838;
				padding-top: 8px;
				padding-bottom: 28px;
				}
					div.product_img span.product_info:hover {
					text-decoration: underline;
					}				
				div#products h3 {
				float: left;
				clear: left;
				display: block;
				font:  bold 24px "Myriad Pro","Gill Sans","Gill Sans MT",Calibri,sans-serif;
				color: #e4261c;
				text-transform: uppercase;
				margin: 7px 0px;
				}		
				.email_form {
				float: left;
				width: 697px;
				height: 106px;
				background-color: #f7f7f7;
				border: 1px solid #ededed;
				}
					.email_form #go_btn a {
					background-image: url(../images/go.jpg);
					background-repeat: no-repeat;
					font: bold 18px Tahoma, Geneva, Kalimati,sans-serif;
					text-decoration: none;
					color: #fff;
					padding: 7px 24px;
					border-radius: 6px;
					margin-right: 5px;
					}
					.email_form table tr td input {
					font: 16px Arial, Helvetica, sans-serif;
					height: 35px;
					width: 215px;
					border-radius: 6px;
					border: 1px solid #ededed;
					margin-right: 5px;
					padding-left: 5px;
					}
						.email_form table tr td input:focus {
						font: 16px Arial, Helvetica, sans-serif;
						line-height: 30px;
						padding-left: 5px;
						}
					.email_info {
				font: 12px Arial, Helvetica, sans-serif;
				color: #383838;
				text-transform: uppercase;
				width: 290px;
				line-height: 16px;
				padding: 35px 20px 30px 25px;
				}
		div#footer div.footer_images {
		background-color: #fff;
		border-radius: 10px;
		float: left;
		padding: 0px;
		margin-top: 25px;
		position: relative;
		width: 980px;
	
		}		
			div#footer div.footer_images ul li{
			list-style-type: none;
			display: inline;
			float: left;
			}
				div#footer div.footer_images ul li img{
				width: 220px;
				height: 143px;
				padding: 20px 0px 15px 20px;
			}		
			div#footer div.footer_left_col {
			font: bold 11px Tahoma, Geneva, Kalimati,sans-serif;
			text-transform: uppercase;
			}
				div#footer div.footer_left_col span {
			float: left;
			color: #d5dbdf;
			padding: 0px 2px 40px 2px;
			margin: 35px 0px;
			}
					div#footer div.footer_left_col span a {
					color: #d5dbdf;
					}
			div#footer div.footer_right_col span {
			font: bold 11px Tahoma, Geneva, Kalimati,sans-serif;
			line-height: 18px ;
			float: right;
			color: #d5dbdf;
			margin: 35px 0px;
			text-transform: uppercase;
			text-align: right;
			}			
			h4 {
			font: bold 18px Arial, Helvetica, sans-serif;
			color: #383838;
			}
			#product_main_image {
			float: left;
			width: 407px;	
			
			}
			#product_main_image img {
			width: 378px;
			height:381px;
			padding: 9px;
			border: 1px solid #ededed;
			margin-top: 28px; 
			}
			.product_image_small {
			position: relative;
			float: left;
			padding: 7px 0px 25px 0px;
			width: 405px;
			}
				#shorts .product_image_small li {
				padding-right: 0px;
				margin-right: 7px;
				}
			#product_main_image .product_image_small img{
			width: 110px;
			height: 110px;
			padding: 7px;
			margin-top: 3px;
			border: 1px solid #ededed;
			border-left: 2px solid #f5f5f5;
			border-right: 2px solid #fbfbfb;
			border-bottom: 2px solid #fbfbfb;
			}
			.product_main_info {
			float: right;
			width:299px;
			height: 45px;
			padding: 25px 25px 20px 0px;
			}
			.product_main_info p {
			font: 14px Arial, Helvetica, sans-serif;
			color: #383838;
			margin-bottom: 1em;
			
			}
			.product_main_price {
			width: 289px;
			height: 93px;
			background-image: url(../images/main_price_image.jpg);
			border: 1px solid #ededed;
			position: relative;
			margin-top: 8px;
			}			
				.product_main_price span {
				display: block;
				width: 150px;
				color: #e8291f;
				font: bold 36px Tahoma, Geneva, Kalimati,sans-serif;
				padding: 22px 20px 27px 30px;
			}
			.product_main_price .currency {
			position: absolute;
			top: 32px;
			right: 43px;
			font: 12px Arial, Helvetica, sans-serif;
			}
				.product_main_price .currency select{
			width: 60px;
			font: 12px Arial, Helvetica, sans-serif;
			padding-left: 8px;
			}
					.product_main_price .currency select option{
			padding-left: 10px;
			text-align: left;
			font: 12px Arial, Helvetica, sans-serif;
			height: 18px;
			}
			.product_main_size {
			display: inline-block;
			width: 291px;
			}
				.product_main_size label{
				font: bold 18px Arial, Helvetica, sans-serif;
				text-transform: uppercase;
				color: #383838;
				padding: 10px 0px;
				margin-top: 10px;
				
				}
				.product_main_size form{
					display: inline-block;
					padding: 10px 0px 0px 10px;
					margin: 0px;
				}
			.product_main_size select{
			padding: 3px 2px 3px 7px;
			font: 12px Arial, Helvetica, sans-serif;
			height: 22px;
			}
			.product_main_size select option{
			padding-left: 3px;
			
			}
			.product_main_size form input {
			width: 33px;
			text-align: center;
			height: 19px;
			}
				.product_main_size #quantity  {
				float: right;
			}
			.product_main_buy_now {
			width: 288px;
			height: 63px;
			background-color: #eb2b21;
			margin: 28px 0px;
			}			
			.product_main_buy_now a{
			font: bold 36px Tahoma, Geneva, Kalimati,sans-serif;
			color: #fff;
			display: block;
			text-decoration: none;
			text-align: center;
			padding-top: 10px;
			}
			.subcatalog_pages{
			float: left;
			display: inline-block;
			margin-bottom: 10px;
			}
			div#products div#shorts .subcatalog_pages #pages ul, div#products div#shorts .subcatalog_pages #pages ul li{
			padding: 2px 1px;
			margin-top: 5px;
			}
			div#products div#shorts .subcatalog_pages #pages ul li {
			padding-right: 2px;
			}
			
			
			.subcatalog_pages span {
			display: inline-block;
			font: 12px Arial,Helvetica,sans-serif;
			color: #383838;
			margin: 18px 7px 0px 0px;
			}
			
			